html,
body {

}

html {

}

body {

}

.center-login {
    margin: 0 auto;
    max-width: 700px;
    border-radius: 5px;
    background:#ededed;
    background:-webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
    background:-moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
    background:-ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.item {
    width:100%;
    height:100%;
    border:1px solid #cecece;
    padding:16px 8px;
    background:#ededed;
    background:-webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
    background:-moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
    background:-ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}

.item {
    display:table;
}

.content {

}

.btn {
    width: 120px;
}

.input-pesquisa {
    width: 360px !important;
}

#foot {
    position: relative;
    bottom: 0;
}

.til {
    width: 33%;
    background-color: #006dcc;
}

.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tile img {
    width: 40%;
    position: absolute;
    top: 0;
    right: 16px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    z-index: 10;
}

.tile .title {
    margin-top: 0px;
    z-index: 20;
}

.tile .title {
    z-index: 20;
}
  
.tile.c1 {
    background: #337BB7;
}

.tile.c1:hover {
    background: #1266AB;
}

.tile.c2 {
    background: #6CA6D6;
}

.tile.c2:hover {
    background: #5393C8;
}
                
.tile.c3 {
    background: #24C081;
}

.tile.c3:hover {
    background: #08B36E;
}
.tile.c4 {
    background: #8B57CD;
}

.tile.c4:hover {
    background: #7337BE;
}

.tile.c5 {
    background: #FFA62B;
  }
  
.tile.c5:hover {
    background: #FF980B;
}

.lista-itens-cad ul {
    padding: 0;
}

.spanLiCadastradosLabel label {
    padding-left: 20px;
}

.panel-cad-mat-con .input-group-addon {

}

.tab-cad-fornecedor .tab-content {
  padding : 10px 15px;
  border: 1px solid #337ab7;
  border-radius: 0 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.tab-cad-fornecedor .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

.tab-config-dados-unidade .tab-content {
  padding : 10px 15px;
  border: 1px solid #337ab7;
  border-radius: 0 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.tab-config-dados-unidade .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#sistema #nav .navbar.navbar-default {
    box-shadow: 0 3px 2px -2px gray;
    border-width: 0 1px 0 1px;
    background-color: rgba(51, 122, 183, 0.12);
}

#sistema #nav .navbar.navbar-default li.dropdown.open > a {
    background-color: #B1D4F2; 
}

#imgLogo {
    width: 100%;
}