#tabelaItemEntrada td,
#tabelaItemEntrada th,
#tabelaMaterialConsumo td,
#tabelaMaterialConsumo th{
    padding: 10px;
}

.panel-entrada-material span.input-group-addon {
    width: 140px !important;
}

.panel-natureza-despesas span.input-group-addon {
    width: 140px !important;
}

span.spanLiCadastradosLabel label {
    width: 75%;
}

span.spanLiCadastradosButton label {
    width: 25%;
}

span.labelCampoFormulario li {
    list-style: none;
}

span.labelCampoFormulario li:nth-child(2n+1) {
    background-color: #f9f9f9;
}

span.labelCampoFormulario li:hover {
    background-color: #B1D4F2;
    color: #212121;
}