#linkFalso,.linkFalso, #linkBloqueado, .linkBloqueado{
    pointer-events: none;
}

#reset{
    display: none;
}

.botaoListaCadastrados{
    float: right;
}

#botaoVoltar, .botaoVoltar{
    width: 5rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-image: url("../imagens/button_voltar.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    /*background-position: left;*/
    /*background-color: transparent;*/
    /*color: transparent;*/
}

#botaoAdicionar, .botaoAdicionar{
    width: 7rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-image: url("../imagens/button_add.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    /*background-position: left;*/
    /*background-color: transparent;*/
    /*color: transparent;*/
}

#botaoRemover, .botaoRemover{
    width: 6rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-image: url("../imagens/button_remover.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    /*background-position: left;*/
    /*background-color: transparent;*/
    /*color: transparent;*/
}

#botaoSelecionar, .botaoSelecionar{
    width: 5rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-image: url("../imagens/button_selecionar.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    /*background-position: left;*/
    /*background-color: transparent;*/
    /*color: transparent;*/
}



#botaoAlterar, .botaoAlterar{
    width: 1.7rem;
    height: 1.8rem;
    border: 0rem;
    background-image: url("../imagens/button_alterar.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    color: transparent;
}





#botaoLogoff{
    width: 1.7rem;
    height: 1.8rem;
    border: 0rem;
    background-image: url("../imagens/button_logoff.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    color: transparent;
}

#botaoBuscarCep, .botaoBuscarCep{
    width: 1.7rem;
    height: 1.8rem;
    border: 0rem;
    background-image: url("../imagens/correios.png");
    background-size: 1.8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    color: transparent;
}


#botaoImprimir, .botaoImprimir{
    width: 6rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-image: url("../imagens/button_imprimir.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
/*    background-position: center;
    background-color: transparent;
    color: transparent;*/
}

#botaoProposta, .botaoProposta{
    width: 6rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-image: url("../imagens/button_proposta.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
/*    background-position: center;
    background-color: transparent;
    color: transparent;*/
}

#botaoAutorizarPedido, .botaoAutorizarPedido{
    width: 6rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-image: url("../imagens/button_ativar.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
/*    background-position: center;
    background-color: transparent;
    color: transparent;*/
}

#botaoNaoAutorizarPedidio, .botaoNaoAutorizarPedidio{
    width: 8rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-image: url("../imagens/button_naoAutorizar.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
/*    background-position: center;
    background-color: transparent;
    color: transparent;*/
}

#botaoDevolverPedido, .botaoDevolverPedido{
    width: 11rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-image: url("../imagens/button_devolverPedido.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
/*    background-position: center;
    background-color: transparent;
    color: transparent;*/
}


#bbotaoReceberPedido, .botaoReceberPedido{
    width: 6rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-image: url("../imagens/button_receber.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
/*    background-position: center;
    background-color: transparent;
    color: transparent;*/
}

#botaoEnviar, .botaoEnviar{
    width: 6rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-image: url("../imagens/button_enviar.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
/*    background-position: center;
    background-color: transparent;
    color: transparent;*/
}

#botaoFecharItem, .botaoFecharItem{
    width: 6.8rem;
    height: 1.8rem;
    background-image: url("../imagens/button_fecharItem.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
}

#botaoAbrirItem, .botaoAbrirItem{
    width: 6.8rem;
    height: 1.8rem;
    background-image: url("../imagens/button_abrirItem.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
}

#botaoGerenciarLote, .botaoGerenciarLote{
    width: 5rem;
    height: 1.8rem;
    background-image: url("../imagens/button_gerenciarLote.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
}

#botaoConsolidar, .botaoConsolidar{
    width: 6.8rem;
    height: 1.8rem;
    background-image: url("../imagens/button_consolidar.png");
    background-size: 1.5rem;
    background-repeat: no-repeat;
}


#botaoTabela, .botaoTabela{
    width: 1.7rem;
    height: 1.8rem;
    /*border: 0rem;*/
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: left;
    /*background-color: transparent;*/
    color: transparent;
}