table, #tabelaItemOrdemDeCompra{
    width: 100%;
    border-collapse: collapse;

}

th, td{
    border: .1rem solid black;
}

#thDocumentoFornecedor{
    width: 20%;
}

#thNomeFornecedor{
    width: 80%;
}

.tdDocumentoFornecedor{
    text-align: center;
}

.thNumeroOrdemCompra, .thSequenciaOrdemCompra{
    width: 10%;
}

.thValorOrdemCompra, .thDataEmissaoOrdemCompra, .thDataEntregaOrdemCompra{
    width: 10%;
}

.thSituacaoOrdemCompra{
    width: 20%;
}

.thBotoesOrdemCompra{
    width: 30%;
}


.tdValorOrdemDeCompra, .tdDataEmissaoOrdemDeCompra, .tdPrazoOrdemDeCompra, .tdBotoesOrdemCompra{
    text-align: center;
}

#thNumeroEmpenho, #thDataEmpenho, #thUOEmpenho, #thFonteEmpenho, #thValorEmpenho{
    width: 10%;
}


#thPAEmpenho, #thNDEmpenho{
    width: 25%;
}

.tdNumeroOrdemDeCompra, .tdSequenciaOrdemDeCompra, .tdNumeroEmpenho, .tdDataEmpenho, .tdUnidade, .tdFundoEmpenho, .tdvalorEmpenho, .tdSituacaoOrdemDeCompra{
    text-align: center;
}

.tdPaEmpenho, .tdNDEmpenho{
    padding-left: 1rem;
    text-align: justify;
}

#thCodigoItem, #thQuantidadeItem, #thValorUnitarioItem, #thValorTotalItem{
    width: 10%;
}

#thDescricaoItem{
    width: 60%;
}

.tdCodigoItem, .tdQuantidadeItem, .tdValorUnitarioItem, .tdValorTotalItem{
    text-align: center;
}

.tdDescricaoItem{
    padding-left: 1rem;
    text-align: justify;
}

.inputQuantidade, #prazo{
    width: 3rem;
    text-align: center;
}

.spanFormulario{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

.spanInfoOCS{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

#novoPrazo, #dataAssinatura{
    width: 5rem;
    text-align: right;
}

#justificativa{
    display: block;
}
