body{
    margin: 0;
    padding: 0;
}

.titulo{
    text-align: center;
}

#imgLogoSistema{
    text-align: center;
    height: 5em;
}

#tdLogoSistema{
    text-align: center;
}

table{
    width: 100%;
}

#tabelaItemEmpenho td{
    border-bottom: 1px solid black;
    padding-top: 25px;
}

#tdSubprojeto{
    width: 20%;
}

#tdResponsavel{
    width: 50%;
}

#tdValor{
    width: 30%;
}

#blockquoteRO{
    font-style: italic;
    margin-bottom: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.quebraDePagina{
    page-break-before: always;
}


.tdAssinatura{
    text-align: right;
}
