body{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.titulo{
    text-align: center;
}

#imgLogoSistema{
    text-align: center;
    height: 5em;
}

#tdLogoSistema{
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    /*border: 1px solid black;*/
}

th{
    text-align: left;
    border-bottom: 1px solid black;
}

#tabelaInfoContrado td{
    width: 50%;
}

#tdNumeroProcesso{
    text-align: left;
}
#tdDataEmissaoProcesso{
    text-align: right;
}

#tabelaInfoEmpenho td{
    text-align: center;
}


#tdNumeroEmpenho, #tdFoneteEmpenho, #tdUGEmpenho, #tdValorEmpenho{
    width: 10%;
}

#tdDataEmpenho{
    width: 15%;
}

#tdPAEmepnho{
    width: 25%;
}

#tdNDEmpenho{
    width: 20%;
}

#tabelaInfoItens td{
    text-align: center;
}


.tdAssinatura{
    padding-top: 50px;
    text-align: center;

}


.tdCabeclaho{
    width: 50%;
}

blockquote{
    width: 100%;
    font-size: 12px;
    text-align: justify;
    text-transform: uppercase;
}